#IS_SIMULATION 
1


#IS_OPTIMIZATION
0

#USE_JOYSTICK   
1


#SPINE_COMPENSATION_WITH_FEEDBACK 
0


#USE_IMU && USE_FEET
1

#AUTO_RUN
1

#AUTO_RUN_STATE     ->    WALKING, STANDING, POSING, SWIMMING, ANIMAL_WALKING, ANIMAL_SWIMMING, ANIMAL_AQUASTEP, INITIAL
0

#LOG_DATA
0

#RECORD_VIDEOS
0

#NUM_MOTORS
28

#SPINE_SIZE
8

#USED_MOTORS   
# spine
1	1	1	1	1	1	1	1
# 0	0	0	0	0	0	0	0
#FL
1	1	1	1	
# 0	0	0	0
#FR
1	1	1	1	
# 0	0	0	0
#HL
1	1	1	1	
# 0	0	0	0

#HR
1	1	1	1	
# 0	0	0	0

#WRISTS
1	1	1	1	
# 0	0	0	0



#ANIMAL_DATASET -> PLEURODELES 0, AMBYSTOMA 1, SKINK 2, IGUANA 3, CAIMAN 4
0

