#================================ speed related ================================================
#maxSpeed
0.3

#T_trans0 (transition filtering)
1.5

#Tfilt_angles (output filtering)
0.0020

#Tf1 (trajectory filter time constant)
0.1
#================================ spine related ================================================
#spineCPGscaling
0.5 0.5


#================================ gait related ================================================
#Duty
0.8	0.8
#0.85 	0.7946

#phShifts
#-0.1000    0.4000    0.2    0.7
0.0 0.5 0.3 0.8

# midStance FRONT				-> for front left
0.0 	0.2 	-0.15

# midStance HIND				-> for hind left
0.0 	0.17 	-0.19

# ellipse_a   FRONT & HIND
0.08 

# ellipse_b   FRONT & HIND
0.06

# swing_height FROINT and HIND
0.1 	0.1

# swing_width FROINT and HIND
0 	0

# trAnglesF0    (take off and step down angles longitudinal and lateral diirections)-> in degrees
45	45
-30   -30 

# bezierParamF0 (dxscaling and norm scaling)
0.7 	0.4

#trAnglesH0    (take off and step down angles longitudinal and lateral diirections)-> in degrees
45	45
-30   -30 

#bezierParamH0 (dxscaling and norm scaling)
0.7 	0.4



#================================ constraints related ================================================
#constrFL
-69 	-90 	-0		-35		
60		35		180		90

#constrFR
-60 	-35 	-0		-90		
69		90		180		35

#constrHL
-75 	-90 	-90		-125		
75		35		90		0

#constrHR
-75 	-35 	-90		-0		
75		90		90		125

#constrS
1.6981



#================================ ikin related ================================================
#useAnDF
0

#useAnDH
0

#useAnSP -> <0 use sine reference, ==0 no spine movements, >0 use animal spine multiplyed with a gain
0





#q0FL
0	0 	90 	0

#q0FR
0	0 	90 	0

#q0HL
0	0 	0 	-90

#q0HR
0	0 	0 	90

#lamF	(base and null controller)
0.03	0.1
#lamH	(base and null controller)
0.03	0.1

#MF
0.003	0	0	0
0	0.03	0	0
0	0	0.01	0
0	0	0	0.001

#MH
0.001	0	0	0
0	0.003	0	0
0	0	0.001	0
0	0	0	0.001

#max_dist
0.04

#ikin_tol
0.002

#ikin_maxIter
30

#ikin_max_speed (deg/sec)
360

		

















